
.infolayer [class^='y'][class$='title'] {
    transform: rotate(0deg); translate: (-10px,-10px);
    position: relative;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0,112,65);
    color:white;
    text-align: center;
  }

.jumbotron {
    background-color: rgb(0,112,65); 
    color: white;
    padding: 10px;
    font-family: 'Calistoga', sans-serif;
  }

#main-title {
    font-size:40px;
}

.card {
    margin-left: 10px;
}

.card-body {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#href1 {
    text-decoration: underline;
}

div {
    box-sizing: border-box;
}

.well {
    background-color:#337ab7;
    color: white;
    padding-top: 5px;
    border-color:#337ab7;
}

.panel {
    border-color:#337ab7;

}

#selDataset {
    color: black;
}

#bar {
    border-color: #337ab7;
}

#bubble {
    width: 100%;
}

#gauge {
    /* width: 374.178px; */
    height: 275px;
}